* {
    font-family: mono;
}
ul, ol, dl, li, dt, dd {
    margin: 0;
    padding: 0;
}
ul > li, ol > li, dl > dt {
    list-style: none;
}
ul:before {
    content: '\\begin{enumerate}';
}
ol:before {
    content: '\\begin{enumerate}';
}
ul:after {
    content: '\\end{itemize}';
}
ol:after {
    content: '\\end{itemize}';
}
li:before {
    content: '\\item ';
}
dt:before {
    content: '\\item['
}
dt:after {
    content: '] '
}
dt, dd {
    display: inline;
}
dl {
    white-space: pre-line;
}
dl:before {
    content: '\\begin{description}';
}
dl:after {
    content: '\\end{description}';
}
table:before {
    content: '\\begin{tabular}';
}
table:after {
    content: '\\end{tabular}';
}
table, thead, tbody, tfoot, tr, td {
    margin: 0;
    padding: 0;
}
td:nth-child(n+2):before {
    content: '&';
}
td:last-child:after {
    content: '\\\\';
}
